.monitorGroup {
  height: 772px;
  overflow-y: auto;
  border: none;
  user-select: none;
}

.monitorGroup .title-box {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.monitorGroup .button-box {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

.monitorGroup .device-detail-box {
  display: flex;
}

.monitorGroup .box-li {
  flex: 1;
  text-align: center;
}

.monitorGroup .img-icon {
  width: 52px;
  margin-bottom: 6px;
}

.monitorGroup .num-box {
  display: inline-block;
  width: 14px;
}

#menu-box {
  user-select: none;
}

#menu-box .el-collapse-item ul {
  margin-top: 12px;
}

#menu-box .el-collapse-item ul li {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  line-height: 40px;
  border-bottom: 1px solid #999999;
  margin: 8px 12px;
  cursor: pointer;
}

#menu-box .el-collapse {
  border: none;
}

#menu-box .el-collapse .is-active .el-collapse-item__header {
  background: #3081ff;
  color: #ffffffff;
}

#menu-box .el-collapse .is-active .el-collapse-item__wrap {
  background: rgba(139, 171, 236, 0.3);
  border: none;
}

#menu-box .el-collapse-item__header {
  padding-left: 30px;
  background: #536e9c;
  color: #ffffff93;
  border: none;
}

#menu-box .el-collapse-item__wrap {
  background: rgba(139, 171, 236, 0.3);
  border: none;
}

#menu-box .el-collapse-item__content {
  color: #ffffff;
}

#menu-box .el-tabs {
  background: none;
  border: none;
}

#menu-box .el-tabs .el-tabs__nav-scroll {
  border-bottom: 1px solid #3081FF;
}

#menu-box .el-tabs .el-tabs__content {
  height: 720px;
  padding-bottom: 30px;
}

#menu-box .el-tabs .el-tabs__nav {
  border: none;
}

#menu-box .el-tabs .is-top {
  border: none;
}

#menu-box .el-tabs .el-tabs__item.is-active {
  border: none;
  background: #536e9c;
  color: #ffffff;
}

#menu-box .el-tabs #pane-monitorGroup {
  height: 692px;
}

#menu-box .el-tabs__header {
  background: none;
}

.partFuntion .el-collapse-item__content {
  padding: 14px 10px;
}

.partFuntion .bar {
  margin-bottom: 10px;
}

.partFuntion .bar .el-row {
  height: 40px;
}

.partFuntion .bar .el-radio {
  color: #ffffff;
}

.partFuntion .bar .el-radio.is-checked {
  background: #ffffff;
}

.device-box .svg-icon {
  margin-right: 6px;
}
