#component-table {
  * {
    background: none;
    color: #ffffff;
  }
    .el-table{
      * {
        // border: none;
        // background: none;
        color: #ffffff;
      }
    }
  
    .title {
      padding-left: 12px;
    }
  
    .el-table::before {
      display: none;
    }
  
    .el-tag {
      border: none;
    }
  
    .el-table {
      td {
        border-bottom: 1px solid #123874;
      }
  
      th.is-leaf {
        border-bottom: 1px solid #123874;
      }
  
      tbody tr:hover>td {
        background-color: initial !important;
      }
    }
  }