.special-dialog .el-dialog__header {
  background-color: #11305f;
  margin-right: 0;
}

.special-dialog .el-dialog__header .el-dialog__title {
  color: #ffffff;
}

.special-dialog .el-dialog__body {
  background-color: #0c2751;
}

.middleBox {
  display: grid;
  grid-template-columns: 50% 50%;
}

.chartBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.point-map-box {
  position: relative;
  user-select: none;
}

.point-map-box.point-map-box-zu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 53%;
  bottom: -27px;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 12px solid #3081ff;
  margin-top: 14px;
  margin-left: -19px;
}

.point-map-box.point-map-box-zu::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 53%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(6, 30, 66, 0.8);
  margin-top: 14px;
  margin-left: -18px;
}

.point-map-box .middle {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.point-map-box .middle .right {
  display: flex;
  flex-direction: column;
}

.point-map-box .middle .right > span {
  margin-bottom: 8px;
}

.point-map-box .middle .imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.point-map-box .middle .imgBox img {
  width: 100%;
  height: 145px;
}

.point-map-box .middle-nav {
  padding: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  margin-top: -4px;
}

.point-map-box .middle-nav .btn {
  background: rgba(6, 30, 66, 0.6);
  border: 1px solid #3081ff;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.btn {
  color: #00ecfc;
  width: 90px;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  width: 80px;
  background: none;
}

#detail-box {
  position: relative;
  padding: 20px;
}

#detail-box #close-button {
  position: absolute;
  right: 2px;
  top: 4px;
  z-index: 99;
}

#detail-box .title {
  background-repeat: no-repeat;
  line-height: 30px;
  margin-bottom: 22px;
  height: 33px;
  padding-left: 16px;
  color: #ffffff;
  font-size: 14px;
}

#detail-box .right {
  color: #ffffff;
}

#detail-box .right .name {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 600;
  color: #ff1568;
  font-size: 14px;
}

#detail-box .right .group-name {
  margin-top: 5px;
}

#detail-box .right .address {
  margin-top: 5px;
}

#triangle-stlye {
  position: absolute;
  bottom: -72px;
  left: -22px;
}
